<div class="container shadow">
    <h2>{{ "myinvoices" | translate }}</h2>
</div>
<div class="table-container shadow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{{ "date" | translate }}</th>
                <th scope="col">{{ "totalsum" | translate }}</th>
                <th scope="col">{{ "paid" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices" class="invoice" (click)="goToInvoice(invoice)">
                <td>{{invoice.dateToString()}}</td>
                <td>{{invoice.totalSumToString()}}</td>
                <td *ngIf="invoice.paid">{{ "yes" | translate }}</td>
                <td *ngIf="!invoice.paid">{{ "no" | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>