<div class="main">
    Home
    <div class="w-50 p-2 bg-light text-dark">
        <table>
            <tr>
                <td>For invoices:</td>
                <td>
                    <a href="/invoices">click here</a>
                </td>
            </tr>
            <tr>
                <td>For vehicles:</td>
                <td>
                    <a href="/vehicles">click here</a>
                </td>
            </tr>
            <tr>
                <td>For users:</td>
                <td>
                    <a href="/invoices">click here</a>
                </td>
            </tr>
        </table>
    </div>
</div>