body {
    background-color: #dc3545;
    /* background-image: url("../images/warschau.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

a {
    color: #dc3545;
}

a :hover {
    color: #dc3545;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}