<form class="form-inline my-2 float-right">
    <input name="filter" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup)="filterCartrackers($event.target.value)">
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
</form>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hardware</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartracker of filteredCartrackers">
            <th scope="row">{{cartracker.id}}</th>
            <td>{{cartracker.hardware}}</td>
        </tr>
    </tbody>
</table>