<div class="container shadow">
    <h2>{{ "invoice" | translate }}</h2>
</div>
<div *ngIf="!loading && invoice !== null" class="container shadow">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">{{ "date" | translate }}</th>
                <td>{{invoice.dateToString()}}</td>
            </tr>
            <tr>
                <th scope="row">{{ "totalsum" | translate }}</th>
                <td>{{invoice.totalSumToString()}}</td>
            </tr>
            <tr>
                <th scope="row">{{ "paid" | translate }}</th>
                <td *ngIf="invoice.paid">{{ "yes" | translate }}</td>
                <td *ngIf="!invoice.paid">{{ "no" | translate }}</td>
            </tr>
            <tr *ngIf="!invoice.paid">
                <th>{{ "pay" | translate }}</th>
                <td>
                    <div id="paypal-button"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container shadow">
    <h2>{{ "movements" | translate }}</h2>
</div>
<div *ngIf="invoice !== null" class="container shadow">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{{ "datestart" | translate }}</th>
                <th scope="col">{{ "dateend" | translate }}</th>
                <th scope="col">{{ "locationstart" | translate }}</th>
                <th scope="col">{{ "locationend" | translate }}</th>
                <th scope="col">{{ "vehicle" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movement of invoice.movements">
                <td>{{dateToString(movement.startDate)}}</td>
                <td>{{dateToString(movement.endDate)}}</td>
                <td>{{movement.startLocation.latitude}}, {{movement.startLocation.longitude}}</td>
                <td>{{movement.endLocation.latitude}}, {{movement.endLocation.longitude}}</td>
                <td>{{movement.vehicle.licensePlate}}</td>
            </tr>
        </tbody>
    </table>
</div>