<div class="main">
    Invoices
    <form class="form-inline my-2 float-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Total Sum</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of filteredInvoices">
                <th scope="row">{{invoice.id}}</th>
                <td>{{invoice.dateToString()}}</td>
                <td>{{invoice.totalSumToString()}}</td>
                <td>{{invoice.status}}</td>
            </tr>
        </tbody>
    </table>
</div>